* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Flexo-Regular";
  src: url("asset/fonts/Flexo-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  font-family: "Flexo-Regular", arial, sans-serif;
}

body,
ul,
img {
  margin: 0;
  padding: 0;
}

body {
  background: #424242 url(asset/images/body_bg.png);
  font-size: 16px;
  color: #fff;
  height: 100%;
}
a {
  text-decoration: none;
}

.top_nav-wrapper {
  height: 62px;
  background: rgb(245, 245, 245);
  border-bottom: solid 2px #4c4c4c;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-wrapper {
    height: 59px;
    border: none;
  }
}

.top_nav-container {
  width: 100%;
  max-width: 913px;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-container {
    max-width: 100%;
  }
}
.top_nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-list {
    justify-content: space-around;
  }
}

@keyframes jump-down {
  50% {
    transform: translateY(5px);
  }
}

@keyframes jump-up {
  50% {
    transform: translateY(-5px);
  }
}

.brand_logo {
  padding: 5px 5px 8px 10px;
  height: 62px;
  box-shadow: 5px 0 8px 1px rgba(0, 0, 0, 0.3);
  border-right: 0;
  border-left: 0;
  background: #fff;
}

@media only screen and (max-width: 960px) {
  .brand_logo {
    height: 58px;
    margin: 0;
  }
}
.top_nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .top_nav-items img {
    width: 56px;
  }
}
.top_nav-items img {
  height: auto;
}

.top_nav-buttons {
  border-right: solid 2px #dedede;
  padding: 9px 10px 8px 10px;
}

.top_nav-buttons img:hover {
  animation: jump-down 0.15s;
}

@media only screen and (max-width: 960px) {
  .buttons-border-hide {
    border: none;
  }
}

.links_btns {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .links_btns {
    display: none;
  }
}

.links_btns-items_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.4rem;
}
.links_btns-items {
  margin: 0 0.4rem;
  height: 100%;
}

.links_btns-items:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.2s;
}

.main_nav {
  font-family: "Roboto", arial, sans-serif;
  height: 90px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_nav {
  position: sticky;
  top: -46px;
  z-index: 9999;
}

@media only screen and (max-width: 960px) {
  .main_nav {
    display: none;
  }
}
.nav_container {
  height: 100%;
  width: 913px;
  display: flex;
}
.nav-items {
  position: relative;
  color: #464646;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-items:hover .nav-image {
  fill: #fff;
  transition: fill 0.2s;
}

.nav-items:hover {
  transition: background 0.3s;
}

.nav-items::after {
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  bottom: -6px;
  width: 100%;
  z-index: 1;
}

#home::after {
  background-color: #585858;
  border-radius: 0 0 0 8px;
}
#pokedex::after {
  background-color: #e3350d;
}
#games::after {
  background-color: #ee6b2f;
}
#trading::after {
  background-color: #e6bc2f;
}
#tv::after {
  background-color: #4dad5b;
}
#play::after {
  background-color: #30a7d7;
}
#news::after {
  background-color: #1b53ba;
  border-radius: 0 0 8px 0;
}
.nav-items_content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-image {
  height: 30px;
  width: 30px;
  margin-bottom: 0.8rem;
  fill: #919191;
}
.nav-image-home {
  fill: #fff;
}

.nav-text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#home {
  color: #fff;
  background: #919191;
}
#pokedex:hover {
  color: #fff;
  background: #e3350d;
}
#games:hover {
  color: #fff;
  background: #ee6b2f;
}
#trading:hover {
  color: #fff;
  background: #e6bc2f;
}
#tv:hover {
  color: #fff;
  background: #4dad5b;
}
#play:hover {
  color: #fff;
  background: #30a7d7;
}
#news:hover {
  color: #fff;
  background: #1b53ba;
}

.mobile_nav {
  display: none;
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .mobile_nav {
    display: block;
  }
}

.m_nav-content {
  width: 100%;
  height: 6rem;
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  position: relative;
  z-index: 3;
  font-size: 16px;
  border-bottom: 2px solid #000;
}

.menu-container {
  height: 100%;
  float: left;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  cursor: pointer;
  border-right: 2px solid #000;
}

.icon {
  height: 100%;
  width: auto;
}

.icon-menu {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.icon-search {
  width: 35px;
  height: 35px;
  fill: #fff;
}

.login-container {
  height: 100%;
  float: right;
  width: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  cursor: pointer;
  border-left: 2px solid #000;
}
.login-content {
  font-family: "Flexo-Regular", arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
}
.icon-user {
  width: 35px;
  height: 35px;
}
.login-text {
  margin-top: 0.5rem;
}

/* User Dashboard */
#user_dashboard {
  position: fixed;
  left: 0;
  top: 161px;
  width: 59px;
  max-width: 1280px;
  height: 100%;
  z-index: 17;
  overflow: hidden;
}

@media (min-width: 1297px) and (max-width: 9999px) {
  #user_dashboard {
    left: 50%;
    margin-left: -640px;
  }
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate(-100%, 0%);
}

.profile-nav {
  left: 100%;
  position: absolute;
  padding-top: 1em;
  width: 59px;
}

@media only screen and (max-width: 960px) {
  .hidden-mobile {
    display: none;
  }
}

.profile-nav ul {
  min-height: 64.25px;
  background-image: url("asset/images/profile-nav-repeat-bg.png");
  background-repeat: repeat-y;
  float: left;
  margin-top: 15px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.profile-nav ul::before {
  background: transparent url("asset/images/profile-nav-bg.png") left -34px;
  content: " ";
  display: block;
  height: 17px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: -17px;
  width: 100%;
}

li:after {
  background: transparent url("asset/images/profile-nav-bg.png") left -51px;
  content: " ";
  display: block;
  height: 17px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -17px;
  width: 100%;
}

.sign-up {
  font-family: "Flexo-Bold", arial, sans-serif;
  background-color: #54b564;
  font-size: 87.5%;
  line-height: 90%;
}

.profile-nav li {
  font-family: "Flexo-Bold", arial, sans-serif;
  background-color: #54b564;
  font-size: 87.5%;
  line-height: 90%;
  display: block;
  cursor: pointer;
  float: left;
  margin: 0;
  position: relative;
  width: 57px;
  text-align: center;
}
.profile-nav a {
  color: #fff;
  display: block;
  float: left;
  font-size: 75%;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  width: 100%;
}

.sign-up span {
  padding-bottom: 1.3em;
  display: block;
  margin: 25% 0;
}

.avatar-icon-wrapper {
  border-radius: 17px 17px 17px 17px;
  background: #4dad5b;
  width: 30px;
  height: 30px;
  margin: 2px auto;
}

.sign-up img {
  margin-bottom: 0.25em;
}
.avatar-icon {
  width: 35px;
  height: 35px;
  margin: -3px 0 0 -3px;
}

.sign-in-text-wrapper {
  padding: 0.5px 0 0;
}

.search {
  transition: background-image 0.2s;
  background-image: url("asset/images/profile-nav-search-bg.png");
  float: left;
  height: 67px;
  margin-top: 0;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search a {
  color: #fff;
  font-size: 175%;
  height: 67px;
  line-height: 67px;
}

.icon_search:before {
  content: "asset/images/container_bg.png";
}

/* Container */
.body_container {
  box-sizing: border-box;
  background: #fff url("asset/images/container_bg.png");
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}

.mosaic {
  position: relative;
  padding: 1em 0;
  background: transparent url("asset/images/content_bg.png") left top;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
  animation: fadein 2s normal;
}

.col-1 {
  margin-left: 7.2525%;
  float: left;
  margin-right: -100%;
  width: 56.47%;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 960px) {
  .col-1 {
    width: 85%;
    float: none;
    margin: 0 auto;
    justify-content: center;
  }
}
.col-2 {
  margin-left: 65.2925%;
  float: left;
  margin-right: -100%;
  width: 27.46%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 960px) {
  .col-2 {
    width: 85%;
    float: none;
    margin: 0 auto;
    justify-content: center;
  }
}

.content-block {
  border-radius: 5px;
  float: left;
  margin: 1.6rem 0 0 0;
  position: relative;
}

.content-block-full {
  display: block;
  width: 100%;
}

.content-block-half {
  width: 48.4375%;
}

.content-block-half-first {
  margin-right: 3.125%;
}

@media only screen and (max-width: 960px) {
  .content-block-half {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}

.content-block img {
  border-radius: 5px 5px 0 0;
  float: left;
  width: 100%;
}

.banner {
  float: left;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.banner-red {
  padding-bottom: 1.5em;
  padding-top: 0.25em;
  background: #e3350d;
}
.banner-gray {
  background-color: #a4a4a4;
}
.banner-black {
  background-color: #313131;
}
.banner-blue {
  background-color: #1b53ba;
}
.banner-lightbrown {
  background-color: #c7aa79;
}
.banner-purple {
  background-color: #855ac9;
}

.banner-right {
  border-radius: 5px;
  padding-bottom: 0;
}

.banner-right img {
  border-radius: 5px 0 0 5px;
  width: 40%;
  margin-bottom: 0;
  max-width: 132px;
}
.banner-right .banner-wrapper {
  width: 60%;
  position: relative;
  float: left;
}

@media only screen and (max-width: 960px) {
  /* .banner-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: none;
  }

  .banner-right .banner-wrapper {
    text-align: center;
    width: 100%;
  }

  .banner-right img {
    width: 100%;
    max-width: 100%;
  } */
  .banner-right {
    display: none;
  }

  .banner h3,
  .banner p {
    text-align: center;
  }
}

.banner h3 {
  font-size: 137.5%;
  line-height: 125%;
  font-weight: 400;
  text-transform: none;
  font-family: "Flexo-Medium", arial, sans-serif;
  margin: 0.75em 0.5em 0 1em;
}
.banner p {
  margin: 0.5em 0.5em 0 1em;
  font-family: "Roboto", arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 125%;
  margin-left: 1.25em;
}
.banner p:last-child {
  margin-bottom: 0.75em;
  color: #ccc;
}

.banner h3:first-child:last-child {
  margin-bottom: 0.75em;
}

.banner-gray h3 {
  color: #000;
}

/* Animation content-block */
.content-block:hover {
  animation: jump-up 0.15s;
}

.loader {
  display: block;
  background: url("asset/images/icons/pokedex.svg") center center no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 49%;
  top: 20%;
  animation: loader 0.5s infinite, fadeout 2s forwards;
}

.loader.bottom {
  top: auto;
  bottom: 1%;
}

.loader.top {
  bottom: auto;
  top: 1%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* animation: fadeOpacity 2s normal; */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
