* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Flexo-Regular";
  src: url("asset/fonts/Flexo-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  font-family: "Flexo-Regular", arial, sans-serif;
}

body,
ul,
img {
  margin: 0;
  padding: 0;
}

body {
  background: #424242 url(asset/images/body_bg.png);
  font-size: 16px;
  color: #fff;
  height: 100%;
}

.top_nav-wrapper {
  height: 62px;
  background: rgb(245, 245, 245);
  border-bottom: solid 2px #4c4c4c;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-wrapper {
    height: 59px;
    border: none;
  }
}

.top_nav-container {
  width: 100%;
  max-width: 913px;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-container {
    max-width: 100%;
  }
}
.top_nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .top_nav-list {
    justify-content: space-around;
  }
}

@keyframes jump-down {
  50% {
    transform: translateY(5px);
  }
}

@keyframes jump-up {
  50% {
    transform: translateY(-5px);
  }
}

.brand_logo {
  padding: 5px 5px 8px 10px;
  height: 62px;
  box-shadow: 5px 0 8px 1px rgba(0, 0, 0, 0.3);
  border-right: 0;
  border-left: 0;
  background: #fff;
}

@media only screen and (max-width: 960px) {
  .brand_logo {
    height: 58px;
    margin: 0;
  }
}
.top_nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .top_nav-items img {
    width: 56px;
  }
}
.top_nav-items img {
  height: auto;
}

.top_nav-buttons {
  border-right: solid 2px #dedede;
  padding: 9px 10px 8px 10px;
}

.top_nav-buttons img:hover {
  animation: jump-down 0.15s;
}

@media only screen and (max-width: 960px) {
  .buttons-border-hide {
    border: none;
  }
}

.links_btns {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .links_btns {
    display: none;
  }
}

.links_btns-items_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.4rem;
}
.links_btns-items {
  margin: 0 0.4rem;
  height: 100%;
}

.links_btns-items:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.2s;
}

.main_nav {
  font-family: "Roboto", arial, sans-serif;
  height: 90px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_nav {
  position: sticky;
  top: -46px;
  z-index: 9999;
}

@media only screen and (max-width: 960px) {
  .main_nav {
    display: none;
  }
}
.nav_container {
  height: 100%;
  width: 913px;
  display: flex;
}
.nav-items {
  position: relative;
  color: #464646;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-items:hover .nav-image {
  fill: #fff;
  transition: fill 0.2s;
}

.nav-items:hover {
  transition: background 0.3s;
}

.nav-items::after {
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  bottom: -6px;
  width: 100%;
  z-index: 1;
}

#home::after {
  background-color: #585858;
  border-radius: 0 0 0 8px;
}
#pokedex::after {
  background-color: #e3350d;
}
#games::after {
  background-color: #ee6b2f;
}
#trading::after {
  background-color: #e6bc2f;
}
#tv::after {
  background-color: #4dad5b;
}
#play::after {
  background-color: #30a7d7;
}
#news::after {
  background-color: #1b53ba;
  border-radius: 0 0 8px 0;
}
.nav-items_content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-image {
  height: 30px;
  width: 30px;
  margin-bottom: 0.8rem;
  fill: #919191;
}
.nav-image-home {
  fill: #fff;
}

.nav-text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#home {
  color: #fff;
  background: #919191;
}
#pokedex:hover {
  color: #fff;
  background: #e3350d;
}
#games:hover {
  color: #fff;
  background: #ee6b2f;
}
#trading:hover {
  color: #fff;
  background: #e6bc2f;
}
#tv:hover {
  color: #fff;
  background: #4dad5b;
}
#play:hover {
  color: #fff;
  background: #30a7d7;
}
#news:hover {
  color: #fff;
  background: #1b53ba;
}

.mobile_nav {
  display: none;
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .mobile_nav {
    display: block;
  }
}

.m_nav-content {
  width: 100%;
  height: 6rem;
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  position: relative;
  z-index: 3;
  font-size: 16px;
  border-bottom: 2px solid #000;
}

.menu-container {
  height: 100%;
  float: left;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  cursor: pointer;
  border-right: 2px solid #000;
}

.icon {
  height: 100%;
  width: auto;
}

.icon-menu {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.login-container {
  height: 100%;
  float: right;
  width: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  cursor: pointer;
  border-left: 2px solid #000;
}
.login-content {
  font-family: "Flexo-Regular", arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
}
.icon-user {
  width: 35px;
  height: 35px;
}
.login-text {
  margin-top: 0.5rem;
}

/* Container */
.body_container {
  box-sizing: border-box;
  background: #fff url("asset/images/container_bg.png");
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}
.body_container:first-child {
  padding-top: 2.5rem;
}

.mosaic {
  position: relative;
  padding: 1em 0;
  background: transparent url("asset/images/content_bg.png") left top;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
}

.col-1 {
  margin-left: 7.2525%;
  float: left;
  margin-right: -100%;
  width: 56.47%;
  display: flex;
  flex-wrap: wrap;
}
.col-2 {
  margin-left: 65.2925%;
  float: left;
  margin-right: -100%;
  width: 27.46%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content-block {
  border-radius: 5px;
  float: left;
  margin: 1.6rem 0 0 0;
  position: relative;
}

.content-block-full {
  display: block;
  width: 100%;
}

.content-block-half {
  width: 48.4375%;
}

.content-block-half-first {
  margin-right: 3.125%;
}

.content-block img {
  border-radius: 5px 5px 0 0;
  float: left;
  width: 100%;
}

.banner {
  float: left;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.banner-red {
  padding-bottom: 1.5em;
  padding-top: 0.25em;
  background: #e3350d;
}
.banner-gray {
  background-color: #a4a4a4;
}
.banner-black {
  background-color: #313131;
}
.banner-blue {
  background-color: #1b53ba;
}
.banner-lightbrown {
  background-color: #c7aa79;
}
.banner-purple {
  background-color: #855ac9;
}

.banner-right {
  border-radius: 5px;
  padding-bottom: 0;
}

.banner-right img {
  border-radius: 5px 0 0 5px;
  width: 40%;
  margin-bottom: 0;
  max-width: 132px;
}
.banner-right .banner-wrapper {
  width: 60%;
  position: relative;
  float: left;
}

.banner h3 {
  font-size: 137.5%;
  line-height: 125%;
  font-weight: 400;
  text-transform: none;
  font-family: "Flexo-Medium", arial, sans-serif;
  margin: 0.75em 0.5em 0 1em;
}
.banner p {
  margin: 0.5em 0.5em 0 1em;
  font-family: "Roboto", arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 125%;
  margin-left: 1.25em;
}
.banner p:last-child {
  margin-bottom: 0.75em;
  color: #ccc;
}

.banner h3:first-child:last-child {
  margin-bottom: 0.75em;
}

.banner-gray h3 {
  color: #000;
}
/* Animation content-block */
.content-block:hover {
  animation: jump-up 0.15s;
}
